<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.special.mapper.EquipPressureVesselMapper">

    <resultMap type="EquipPressureVessel" id="EquipPressureVesselResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="specification" column="specification"/>
        <result property="volume" column="volume"/>
        <result property="equipmentCategory" column="equipment_category"/>
        <result property="installationType" column="installation_type"/>
        <result property="designPressure" column="design_pressure"/>
        <result property="designTemperature" column="design_temperature"/>
        <result property="workingPressure" column="working_pressure"/>
        <result property="workingTemperature" column="working_temperature"/>
        <result property="material" column="material"/>
        <result property="medium" column="medium"/>
        <result property="netWeight" column="net_weight"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="manufactureDate" column="manufacture_date"/>
        <result property="manufactureLicenseNo" column="manufacture_license_no"/>
        <result property="manufactureSerialNo" column="manufacture_serial_no"/>
        <result property="installationUnit" column="installation_unit"/>
        <result property="installationDate" column="installation_date"/>
        <result property="commissioningDate" column="commissioning_date"/>
        <result property="equipmentCode" column="equipment_code"/>
        <result property="usageCertificateNo" column="usage_certificate_no"/>
        <result property="usageRegistrationCertificate" column="usage_registration_certificate"/>
        <result property="remarks" column="remarks"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="selectEquipPressureVesselVo">
        select id,
               name,
               specification,
               volume,
               equipment_category,
               installation_type,
               design_pressure,
               design_temperature,
               working_pressure,
               working_temperature,
               material,
               medium,
               net_weight,
               manufacturer,
               manufacture_date,
               manufacture_license_no,
               manufacture_serial_no,
               installation_unit,
               installation_date,
               commissioning_date,
               equipment_code,
               usage_certificate_no,
               usage_registration_certificate,
               remarks,
               created_by,
               created_time,
               updated_by,
               updated_time
        from equip_pressure_vessel
    </sql>

    <select id="selectEquipPressureVesselList" parameterType="EquipPressureVessel"
            resultMap="EquipPressureVesselResult">
        <include refid="selectEquipPressureVesselVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="equipmentCategory != null  and equipmentCategory != ''">and equipment_category =
                #{equipmentCategory}
            </if>
            <if test="installationType != null  and installationType != ''">and installation_type =
                #{installationType}
            </if>
        </where>
    </select>

    <select id="selectEquipPressureVesselById" parameterType="Long" resultMap="EquipPressureVesselResult">
        <include refid="selectEquipPressureVesselVo"/>
        where id = #{id}
    </select>

    <insert id="insertEquipPressureVessel" parameterType="EquipPressureVessel" useGeneratedKeys="true" keyProperty="id">
        insert into equip_pressure_vessel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="specification != null">specification,</if>
            <if test="volume != null">volume,</if>
            <if test="equipmentCategory != null">equipment_category,</if>
            <if test="installationType != null">installation_type,</if>
            <if test="designPressure != null">design_pressure,</if>
            <if test="designTemperature != null">design_temperature,</if>
            <if test="workingPressure != null">working_pressure,</if>
            <if test="workingTemperature != null">working_temperature,</if>
            <if test="material != null">material,</if>
            <if test="medium != null">medium,</if>
            <if test="netWeight != null">net_weight,</if>
            <if test="manufacturer != null">manufacturer,</if>
            <if test="manufactureDate != null">manufacture_date,</if>
            <if test="manufactureLicenseNo != null">manufacture_license_no,</if>
            <if test="manufactureSerialNo != null">manufacture_serial_no,</if>
            <if test="installationUnit != null">installation_unit,</if>
            <if test="installationDate != null">installation_date,</if>
            <if test="commissioningDate != null">commissioning_date,</if>
            <if test="equipmentCode != null">equipment_code,</if>
            <if test="usageCertificateNo != null">usage_certificate_no,</if>
            <if test="usageRegistrationCertificate != null">usage_registration_certificate,</if>
            <if test="remarks != null">remarks,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="specification != null">#{specification},</if>
            <if test="volume != null">#{volume},</if>
            <if test="equipmentCategory != null">#{equipmentCategory},</if>
            <if test="installationType != null">#{installationType},</if>
            <if test="designPressure != null">#{designPressure},</if>
            <if test="designTemperature != null">#{designTemperature},</if>
            <if test="workingPressure != null">#{workingPressure},</if>
            <if test="workingTemperature != null">#{workingTemperature},</if>
            <if test="material != null">#{material},</if>
            <if test="medium != null">#{medium},</if>
            <if test="netWeight != null">#{netWeight},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="manufactureDate != null">#{manufactureDate},</if>
            <if test="manufactureLicenseNo != null">#{manufactureLicenseNo},</if>
            <if test="manufactureSerialNo != null">#{manufactureSerialNo},</if>
            <if test="installationUnit != null">#{installationUnit},</if>
            <if test="installationDate != null">#{installationDate},</if>
            <if test="commissioningDate != null">#{commissioningDate},</if>
            <if test="equipmentCode != null">#{equipmentCode},</if>
            <if test="usageCertificateNo != null">#{usageCertificateNo},</if>
            <if test="usageRegistrationCertificate != null">#{usageRegistrationCertificate},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
        </trim>
    </insert>

    <update id="updateEquipPressureVessel" parameterType="EquipPressureVessel">
        update equip_pressure_vessel
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="equipmentCategory != null">equipment_category = #{equipmentCategory},</if>
            <if test="installationType != null">installation_type = #{installationType},</if>
            <if test="designPressure != null">design_pressure = #{designPressure},</if>
            <if test="designTemperature != null">design_temperature = #{designTemperature},</if>
            <if test="workingPressure != null">working_pressure = #{workingPressure},</if>
            <if test="workingTemperature != null">working_temperature = #{workingTemperature},</if>
            <if test="material != null">material = #{material},</if>
            <if test="medium != null">medium = #{medium},</if>
            <if test="netWeight != null">net_weight = #{netWeight},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="manufactureDate != null">manufacture_date = #{manufactureDate},</if>
            <if test="manufactureLicenseNo != null">manufacture_license_no = #{manufactureLicenseNo},</if>
            <if test="manufactureSerialNo != null">manufacture_serial_no = #{manufactureSerialNo},</if>
            <if test="installationUnit != null">installation_unit = #{installationUnit},</if>
            <if test="installationDate != null">installation_date = #{installationDate},</if>
            <if test="commissioningDate != null">commissioning_date = #{commissioningDate},</if>
            <if test="equipmentCode != null">equipment_code = #{equipmentCode},</if>
            <if test="usageCertificateNo != null">usage_certificate_no = #{usageCertificateNo},</if>
            <if test="usageRegistrationCertificate != null">usage_registration_certificate =
                #{usageRegistrationCertificate},
            </if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipPressureVesselById" parameterType="Long">
        delete
        from equip_pressure_vessel
        where id = #{id}
    </delete>

    <delete id="deleteEquipPressureVesselByIds" parameterType="String">
        delete from equip_pressure_vessel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
